
/* Structure
-------------------------------------------------------------- */
/*Clearfixing main elements*/
body:before,
body:after,
#page:before,
#page:after,
header:before,
header:after,
#header-container:before,
#header-container:after,
#content:before,
#content:after,
#main:before,
#main:after,
#footer-content:before,
#footer-content:after {
    content:"";
    display:table;
}
body:after,
#page:after,
header:after,
#header-container:after,
#main:after,
#content:after,
#footer-content:after {
    clear:both;
}
body,
#page,
header,
#main,
#content,
.footer-content {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    width: 100%;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #666666;
    position: relative;
    background: #EEEEEE url('../images/stripes-background.png') repeat 0 0;
    -webkit-animation:myfirst 10s linear infinite; /* Safari and Chrome */
       -moz-animation:myfirst 10s linear infinite; /* Firefox */
         -o-animation:myfirst 10s linear infinite; /* Opera */
            animation:myfirst 10s linear infinite;
}

@keyframes myfirst {
    0%, 20%, 80%, 100%   {background-color:#E6E6E6;}
    50%  {background-color:#CCCCCC;}
}

@-moz-keyframes myfirst {
    0%, 20%, 80%, 100%   {background-color:#E6E6E6;}
    50%  {background-color:#CCCCCC;}
}

@-webkit-keyframes myfirst {
    0%, 20%, 80%, 100%   {background-color:#E6E6E6;}
    50%  {background-color:#CCCCCC;}
}

@-o-keyframes myfirst {
    0%, 20%, 80%, 100%   {background-color:#E6E6E6;}
    50%  {background-color:#CCCCCC;}
}

#page {
    width: 100%;
    max-width: 1030px;
    min-width: 300px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    margin: 0 auto -52px; /* the bottom margin is the negative value of the footer's height */;
    background-color: #FFFFFF;
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

#footer, .push {
    height: 52px; /* .push must be the same height as .footer */
}

.push {
    width: 100%;
    overflow: hidden; /*clearfix*/
    position: relative;
    z-index: -1;
    background-color: #FFFFFF;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Links
-------------------------------------------------------------- */
a, a:link, a:visited {
    color: #C9C9C9;
    text-decoration: none;
    -webkit-transition: color .25s ease-in-out;
       -moz-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;
}

#content a, #content a:link, #content a:visited {
    color: #83A2E5;
    text-decoration: none;
    -webkit-transition: color .25s ease-in-out;
       -moz-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;
}

a:active, a:hover,
#content a:active, #content a:hover {
    color: #666666;
    text-decoration: none;
}

/* Forms
-------------------------------------------------------------- */
input:focus {
    outline: none;
    border: none;
}

/* Headers
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
    font-weight: normal;
}

/* Header
-------------------------------------------------------------- */
header {
    width: 90%;
    max-width: 950px;
    padding: 0 5%;
    height: 100px;
    position: relative;
}

#header-container {
    width: 100%;
    padding: 30px 0 40px;
    background: #FFFFFF url('../images/header-border.jpg') repeat-x 0 72px;
}

header #logo {
    float: left;
}

header h1 {
    width: 100%;
}

header h1 a {
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: #C9C9C9;
    text-transform: uppercase;
    text-shadow: 0px 0px 0 rgb(174,174,174),-1px 0px 0 rgb(146,146,146), -2px 0px 0 rgb(119,119,119),-3px 0px 2px rgba(0,0,0,0.2),-3px 0px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}

header h1 a:hover {
    color: #E7A6E6;
}

/* Menu
-------------------------------------------------------------- */
#main-menu {
    display: block;
    font-size: 1.9em;
    float: right;
    margin: 10px 0 0 0;
    float: right;
}

#main-menu h3 {
    float: left;
}

#main-menu .menu-main-container {
    float: right;
}

#main-menu ul {
    float: left;
}


#main-menu li {
    float: left;
}

#main-menu a {
    font-weight: bold;
    display: block;
    margin-left: 27px;
    text-decoration: none;
}


/* General
-------------------------------------------------------------- */
#main {
    width: 90%;
    max-width: 950px;
    padding: 0 5%;
    position: relative;
}

#main #content {
    width: 100%;
    padding-bottom: 42px;
    margin-bottom: 20px;
    opacity: 0; /*shown on fadein*/
    position: relative;
}

/* Single Post General
-------------------------------------------------------------- */
#main #content .post-nav {
    width: 90%;
    max-width: 930px;
/*    min-width: 460px;*/
    height: 20px;
    position: fixed;
    z-index: 1000;
}

#main #content .post-nav li {
    position: absolute;
}

#main #content .post-nav li#prev-post {
    left: -40px;
}

#main #content .post-nav li#next-post {
    right: -40px;
}

#main #content .post-nav li a {
    font-size: 2em;
    font-weight: bold;
    color: #999999;
    width: 20px;
    height: 20px;
    background: #FFF;
}

#main #content .post-nav li#prev-post a {
    padding: 3px 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 0;
       -moz-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
}

#main #content .post-nav li#next-post a {
    padding: 3px 5px 5px 5px;
    -webkit-border-radius: 5px 0 0 5px;
       -moz-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
}

#main #content .post-nav li a:hover {
    color: #E7A6E6;
}

#main #content .post {
    width: 100%;
}

#main #content .post .description {
    width: 22%;
/*    max-width: 209px;*/
    padding-right: 4%;
    padding-bottom: 30px;
    position: absolute;
    word-wrap: break-word;
    background-color: #FFF;
    z-index: 100;
    -webkit-box-shadow: 0px 5% 5% rgba(255, 255, 255, 0.75);
       -moz-box-shadow: 0px 5% 5% rgba(255, 255, 255, 0.75);
            box-shadow: 0px 5% 5% rgba(255, 255, 255, 0.75);
}

#main #content .post .description .title {
    font-size: 3em;
    font-style: italic;
    line-height: 1.1;
    padding-bottom: 5px;
}

/*#main #content .post .description .content img {
    max-width: 542px;
    border: 4px solid #000000;
    overflow: hidden;
    margin-bottom: 0;
}*/

#main #content .post .description .content p {
    font-size: 1.5em;
    line-height: 1.4;
    margin-bottom: 15px;
}

#main #content .post .media {
    width: 74%;
    max-width: 703px;
    margin-left: 26%;
}

#main #content .post .media iframe {
    width: 100%;
    min-width: 300px;
    max-width: 700px;
}

#main #content .post .media figure {
    width: 100%;
    margin-top: 20px;
    background: #E6E6E6;
    position: relative;
}

#main #content .post .media figure:first-child {
    margin-top: 0;
}

#main #content .post .media figure img {
    width: 100% !important;
    max-width: 698px !important;
    height: auto !important;
    border: solid 1px #E6E6E6;
    margin: 0;
    padding: 0;
}

/* 35% is the 26% width of the description from within the 74% media */
#main #content .post .media figcaption {
    font-size: 1.5em;
    line-height: 1.2;
/*    background: #E6E6E6;*/
    text-align: right;
    padding: 15px 3%;
    position: absolute;
    width: 29%;
    left: -35%;
    top: 0;
}

/* Home
-------------------------------------------------------------- */
body.home .slideshow_container {
    width: 100%;
    margin-top: 20px;
    padding-left: 20px;
    background-color: #999;
    position: relative;
}

body.home .slideshow_content {
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: -20px;
}


/* Page Template
-------------------------------------------------------------- */
body.page #main #content article {
    width: 100%;
    float: left;
}

body.page #main #content article .text-container {
    width: 50%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
}

body.page #main #content article .text-container.no-image {
    width: 75%;
    margin-right: 25%;
}

body.page #main #content .text-container h2 {
    font-size: 2.4em;
    margin: 10px 0 20px;
}

body.page #main #content article .text-container p {
    font-size: 1.5em;
    line-height: 1.4;
    margin-bottom: 10px;
}

body.page #main #content article .text-container.no-image p {
    margin-bottom: 20px;
}

body.page #main #content article figure {
    width: 45%;
    background-color: #F4F4F4;
    float: right;
}

body.page #main #content article figure img {
    width: 100% !important;
    max-width: 427px !important;
    height: auto !important;
    border: solid 1px #E6E6E6;
    margin: 0;
    padding: 0;
}

body.page #main #content article figcaption {
    width: 45%;
    margin: 15px 0 25px;
    font-size: 1.3em;
    font-family: 'Arial', Helvetica, sans-serif;
    float: right;
}

/* Category and Tags ---- Browse
-------------------------------------------------------------- */
body.category #main #content,
body.tag #main #content {
    width: 100%;
    max-width: 950px;
}

body.category #main #content #articles,
body.tag #main #content #articles {
    width: 74%;
    max-width: 703px;
    margin-left: 26%;
}

#main #content #sidebar .tag-list li.current a {
    color: #C9C9C9;
    cursor: default;
}

#main #content .browse-posts {
    width: 100%;
    float: left;
}

#main #content .browse-posts .column {
    margin: 0 0 2% 2%;
    position: relative;
    float: left;
}

#main #content .browse-posts .column.first {
    margin-left: 0;
}

#main #content .browse-posts .thumb {
    width: 31.5%;
    height: 222px;
    border: solid 1px #E6E6E6;
}

#main #content .browse-posts .thumb figure {
    width: 100%;
    height: 100%;
}

#main #content .browse-posts .thumb a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 1;
    color: #666666;
    -webkit-transition: opacity .35s ease-in-out;
       -moz-transition: opacity .35s ease-in-out;
            transition: opacity .35s ease-in-out;
    -webkit-background-size: 100% 100% !important;
       -moz-background-size: 100% 100% !important;
            background-size: 100% 100% !important;
    position: relative;
    z-index: 2;
}

#main #content .browse-posts .thumb a:hover {
    opacity: 0.25;
}

body.category-web #main #content .browse-posts .thumb a:hover,
body.category-coding #main #content .browse-posts .thumb a:hover,
body.category-design #main #content .browse-posts .thumb a:hover {
    opacity: 0.1;
}

#main #content .browse-posts .thumb figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #666666;
    background-color: #E7A6E6;
    z-index: 1;
}

#main #content .browse-posts .thumb figcaption h4 {
    font-size: 1.9em;
    font-weight: bold;
    padding: 8% 8% 0 8%;
}


/* Sidebar
-------------------------------------------------------------- */
#main #sidebar {
    max-width: 247px;
    width: 23%;
    padding-right: 3%;
    position: absolute;
}

#main #sidebar h5 {
    font-size: 2em;
    line-height: 1.2;
    color: #999999;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px #C9C9C9;
}

#main #sidebar .tag-list li {
    font-size: 1.6em;
    margin-bottom: 10px;
}


/* Infinite Scroll Loading
-------------------------------------------------------------- */
#main #content .pagination {
    display: none;
}

#main #content #infscr-loading {
    width: 100%;
    height: 32px;
    margin:0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.category-news #main #content #infscr-loading {
    width: 550px;
}

#main #content #infscr-loading img {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 48%;
}

#main #content #infscr-loading div {
    font-size: 1.4em;
    color: #666666;
    padding-top: 10px;
    text-align: center;
    font-style: italic;
}

/* Content No Found
-------------------------------------------------------------- */
#content .not-found {
    font-size: 1.6em;
    margin-bottom: 400px;
}

/* Images
-------------------------------------------------------------- */

a img {
    border: none;
}
p img {
    margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
    max-width: 100%; /* When images are too wide for containing element, force them to fit. */
    height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
    margin-right: 1em;
}
img.alignright {
    margin-left: 1em;
}
.wp-caption {
    padding: .5em;
    text-align: center;
}
.wp-caption img {
    margin: .25em;
}
.wp-caption .wp-caption-text {
    margin: .5em;
}
.gallery-caption {
}
.wp-smiley {
    margin: 0;
}


/* Footer
-------------------------------------------------------------- */
#footer {
    width: 100%;
    max-width: 1030px;
    min-width: 300px;
    margin: 0 auto;
    text-align: right;
    font-size: 1.6em;
}

#footer-content {
    width: 90%;
    padding: 10px 0;
    margin: 0 5%;
    text-align: right;
    border-top: solid 1px #C9C9C9;
    background-color: #FFFFFF;
    position: relative;
    z-index: 2;
}

#footer #footer-logo {
    width: 270px;
    height: 31px;
/*    background: url('../images/holland-logo.png') no-repeat 0 0;*/
    float: right;
}

#footer #footer-logo h4 {
    color: #999999;
    font-size: 0.7em;
    margin: 12px 0 0 95px;
    text-align: right;
}